/* App CSS */
.App {
  text-align: center;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




/* Main Page CSS */
.title {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  cursor: none;
}

.shapes {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #3f51b5;
  overflow: scroll;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.shape.shape-1 {
  background: #673ab7;
  width: 650px;
  height: 650px;
  margin: (-325px) 0 0 (-325px);
}

.shape.shape-2 {
  background: #9c27b0;
  width: 440px;
  height: 440px;
  margin: (-220px) 0 0 (-220px);
}

.shape.shape-3 {
  background: #e91e63;
  width: 270px;
  height: 270px;
  margin: (-135px) 0 0 (-135px);
}

.content {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #fff;
  mix-blend-mode: screen;
}

h1 {
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 250px;
  font-family: Montserrat, sans-serif;
  font-weight: 500px;
  cursor: none;
}

.cursor {
  position: fixed;
  background: #3f51b5;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

::selection {
  color: #fff;
  background: #3f51b5;
}


.trend-container {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.trend {
  display: inline-block;
}

.subheader {
    text-align: left;



}

.subheader h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color: black;

}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-primary {
  background-color: blue;
  color: white;
}

.btn:hover {
  background-color: darkblue;
}






/* NAV BAR CSS */
    .menu {
    background-color: white;;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 20px;
    max-width: 100%;
    margin: 20px auto;
    border-bottom: 1px solid #eee;

}

    @media (max-width: 650px) {
    .menu {
    flex-direction: column;
    align-items: center;
    }
    }

    .menu .item {
    padding: 18px 28px;
    cursor: pointer;
    transition: color .3s ease-out;
    text-decoration: none;
    color: #111;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0;
    }

    .menu .item.active {
    color: #fff;
    }

    .menu .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    }



/* LOG IN PAGE */

body {
    background: white;
}

form {
  background: #eee;
  padding: 2rem;
  border-radius: 30px;
  margin: 2rem auto;
  width: 50%;

  /* box-shadow: 0 0 20px #e91163; */
}


.form-control {
  margin-bottom: 1rem;
}

.form-label {
  font-size: 1.2rem;
}

button[type="submit"] {
  background-color: #e91e63;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 30px;
  font-family: Montserrat, sans-serif;
  font-size: 0.90rem;

}

button[type="submit"]:hover {
  cursor: pointer;
}

.login-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 30px;
  margin: 2rem auto;
  width: 50%;
}

.login-form div{
  text-align: center;
}

.btn-primary{
    background-color: #e91163;
    border-color: #e91163;
    border-radius: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 0.90rem;
}

.btn-primary:hover{
    background-color: #9c27b0;
    border-color: #9c27b0;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}




.loader-container {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 110px;
}


.loader-container > div {
    position: relative;
    display: inline-block;
    background: #03A9F4;
    height: 50%;
    width: 10px;
    margin: 0;
    -webkit-animation: load 3s ease-in-out infinite;
    animation: load 3s ease-in-out infinite;
}



.loader-container .rectangle-2 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader-container .rectangle-3 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loader-container .rectangle-4 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.loader-container .rectangle-5 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.loader-container .rectangle-6 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-moz-keyframes load {
	0%,
	100% {
		-moz-transform: scaleY(1);
		background: #03A9F4;
	}
	16.67% {
		-moz-transform: scaleY(3);
		background: #FF5722;
	}
	33.33% {
		-moz-transform: scaleY(1);
		background: #FF5252;
	}
	50% {
		-moz-transform: scaleY(3);
		background: #E91E63;
	}
	66.67% {
		-moz-transform: scaleY(1);
		background: #9C27B0;
	}
	83.34% {
		-moz-transform: scaleY(3);
		background: #673AB7;
	}
}

@-webkit-keyframes load {
	0%,
	100% {
		-webkit-transform: scaleY(1);
		background: #03A9F4;
	}
	16.67% {
		-webkit-transform: scaleY(3);
		background: #FF5722;
	}
	33.33% {
		-webkit-transform: scaleY(1);
		background: #FF5252;
	}
	50% {
		-webkit-transform: scaleY(3);
		background: #E91E63;
	}
	66.67% {
		-webkit-transform: scaleY(1);
		background: #9C27B0;
	}
	83.34% {
		-webkit-transform: scaleY(3);
		background: #673AB7;
	}
}

@keyframes load {
	0%,
	100% {
		transform: scaleY(1);
		background: #03A9F4;
	}
	16.67% {
		transform: scaleY(3);
		background: #FF5722;
	}
	33.33% {
		transform: scaleY(1);
		background: #FF5252;
	}
	50% {
		transform: scaleY(3);
		background: #E91E63;
	}
	66.67% {
		transform: scaleY(1);
		background: #9C27B0;
	}
	83.34% {
		transform: scaleY(3);
		background: #673AB7;
	}
}

/* ACCOUNT(PROFILE) PAGE */
.account-page-container {
  padding: 20px;
  text-align: center;
}

.card {
  margin-top: 20px;
}

.card-header {
  background-color: #007bff;
  color: white;
}

.card-title {
  font-size: 24px;
  margin-top: 20px;
}

.card-text {
  font-size: 18px;
  margin-top: 10px;
}

.edit-profile-button, .delete-account-button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.edit-profile-button {
  background-color: #007bff;
  color: white;
}

.delete-account-button {
  background-color: #dc3545;
  color: white;
}

.to-view-container {
  align-items: center;
}

.noplaylists {
  font-size: 40px;
}





/* playlist css
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
:root {
  --cubic: .4s cubic-bezier(0.1, 0.7, 1.0, 0.1);

  --bg: #ddd;
  --player-bg: #eef5f9;
  --navy: #3d415b;
  --grey: #a0aebb;
  --icon: #99acb7;
  --lightgrey: #ced3e2;
  --bold-text: #4e5068;

  --song1: #d1a1d8;
}
body {
  padding:0;
  margin:0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('https://lastfm.freetls.fastly.net/i/u/ar0/bdee2dc210888c8d26826607a3e825da');
  font-family: 'Oxygen', sans-serif;


}
ion-icon {
  font-size: 2em;
  color: var(--icon);
  margin: 5px;
  transition: .4s;
  cursor: pointer;
}
#play {
  font-size: 2.5em;
  color: var(--navy);
}
h, p, p1 {
  transform: var(--cubic);
}
h {
  font-size: 1em;
  color: var(--bold-text);
  font-weight: 600;
  text-transform: capitalize;
}
p {
  color: var(--grey);
  font-size: 0.8em;
  font-weight: 600;
  text-transform: capitalize;
}
p1 {
  color: var(--lightgrey);
  font-size: 0.7em;
  text-transform: uppercase;
}
.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 300px;
  border-radius: 15px;
  background: var(--player-bg);
  z-index: 1;
  box-shadow: inset 1px 1px 2px rgb(0 0 0 / 27%), 1px 1px 1px rgb(255 255 255 / 71%);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.album::before {
    position: absolute;
    z-index: -1 !important;
    transform: translate(-2px,0px) scaleY(1.0125);
    filter: brightness(0.94) blur(0.2px) saturate(0.9);
    content: "";
    width: calc(100% + 6px);
    height: calc(100% + 4px);
    margin: auto !important;
    background: inherit;
    opacity: 0.75;
    display: flex;
    border-radius: 7px;
}

.album::after {
     background: url(https://pudding.cool/2020/12/judge-my-spotify/assets/images/plastic-small.jpg);
     mix-blend-mode: screen;
     mix-blend-mode: difference;
     opacity: 0.3;
     content: "";
     position: absolute;
     display: flex;
     z-index:
1 !important;
     background-size: cover;
     background-repeat: no-repeat;
     height: 240px;
     width: 240px;
     background-position: 50% 50%;
     transform:
translate(-1px, 0px);
}

.album {
     height: 240px;
     width: 240px;
     border-radius: 5px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-image: url("https://lastfm.freetls.fastly.net/i/u/ar0/bdee2dc210888c8d26826607a3e825da");
     background-size: 104%;
     border: 2.25px solid hsl(229deg 24% 26% / 0%);
     background-repeat: repeat;
     box-shadow: rgb(16 26 64 / 0%) 0px 0px 1px, rgb(16 26 64 / 10%) -4px 0px 3px, rgb(16 26 64 / 10%) -12px 2px 6px, rgb(16 26 64 / 10%) -23px 4px 10px, rgb(16 26 64 / 10%) -39px 8px 15px, rgb(16 26 64 / 10%) -60px 12px 21px;

  box-shadow: 0px 1px 0px 0px rgb(255 255 255 / 50%) inset, 0px 3px 2px -1px rgb(13 13 13 / 65%), 0px 6px 6px 0px rgb(0 0 0 / 15%), 0px -4px 4px 0px rgb(0 0 0 / 15%) inset, 0px 2px 4px 2px rgb(255 255 255 / 55%) inset, 0px 0px 1px 2px rgb(0 0 0 / 10%), 0 0.0625em 0.1875em  rgb(0 0 0 / 500%);
     position: relative;
     opacity: 1;
}




.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.progress-bar {
  width: 200px;
  height: 5px;
  border-radius: 15px;
  background: var(--bg);
}
#progress {
  border-radius: 5px;
  width: 40%;
  height: 5px;
  background: var(--song1);
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
} */
